
<footer class="text-muted py-2 mt-2 container-fluid p-1">
    <div class="row container-fluid justify-content-center">
       <div class="redes-sociales col-lg-4 col-md-12 justify-content-center p-2 mx-auto ">
        <a href="https://www.facebook.com/" class="mr-2"  target=”_blank”><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://www.instagram.com/" class="mr-2 text-warning"  target=”_blank”><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://www.linkedin.com/in/padymies" class="linkedin"  target=”_blank”><fa-icon [icon]="faLinkedinIn"></fa-icon></a>

      </div>

      <div class="col-lg-4 col-md-12 justify-content-center align-items-center d-flex pt-2">
        <p>Designed by <a class="nacho" href="https://www.linkedin.com/in/padymies/?originalSubdomain=es"  target=”_blank”>Pady</a></p>
      </div>        
      <div class="col-lg-4 col-md-12 justify-content-center pt-2">
      
        <a href="pag/politica.html" class="text-dark float-right" >*Política de Privacidad</a>
        
      </div>    
     
    </div>
  </footer>